/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #01a337;
}
#main-title{
  font-family: serif;
  text-align: center;
}
#pslo{
  font-style: italic;
}
#pslo>h2{
  font-style: normal;
}
#faculty{
  text-align: center;
}
#faculty>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#courses{
  font-style: italic;
}
#courses>h2{
  font-style: normal;
}
