/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
#main-title{
  text-align: center;
  background-color: firebrick;
  color: aliceblue;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: -40px;
  margin-left: -50px;
  margin-right: -50px;
}
body{
    padding: 30px;
    background-color: #aaaaaa;
}
.section{
  background-color: aliceblue;
  border-radius: 15%;
  border: 2px solid #000000;
  padding-bottom: 50px;
}
h2{
  text-align: center;
}
#faculty>ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
img.pic{
  border: 4px solid #000000;
}
#faculty>#faculty-list>li{
  display: inline-block;
}
/*
Our attempt to make 2x2 faculty pics w/o modifying html
Did not work
#Elena, #KK{
  align-content: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
}
#Nic, #Peter{
  position: relative;
  top: 250px;
  right: 225px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
}
*/
