/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
}
.section{
  background-color: aliceblue; /*change this later */
  border-radius: 15%;
  border: 2px solid #000000;
}
h2{
  text-align: center;
}
#faculty>ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#main-title{
  text-align: center;
  background-color: firebrick;
  color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
}
